# Environment & direnv
env/
.envrc
.direnv/
.vscode/
.micromamba/

# Python & Notebook caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# Geospatial/Large Data (customize as needed)
*.tif
*.tiff
*.nc
*.gpkg
data/
outputs/
